@font-face {
    font-family: 'Space Mono';
    src: url('../webfonts/SpaceMono-BoldItalic.woff2') format('woff2'),
        url('../webfonts/SpaceMono-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../webfonts/SpaceMono-Regular.woff2') format('woff2'),
        url('../webfonts/SpaceMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../webfonts/SpaceMono-Italic.woff2') format('woff2'),
        url('../webfonts/SpaceMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('../webfonts/SpaceMono-Bold.woff2') format('woff2'),
        url('../webfonts/SpaceMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../webfonts/LexendDeca-Black.woff2') format('woff2'),
        url('../webfonts/LexendDeca-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../webfonts/LexendDeca-ExtraBold.woff2') format('woff2'),
        url('../webfonts/LexendDeca-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../webfonts/LexendDeca-Bold.woff2') format('woff2'),
        url('../webfonts/LexendDeca-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../webfonts/LexendDeca-Medium.woff2') format('woff2'),
        url('../webfonts/LexendDeca-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../webfonts/LexendDeca-Light.woff2') format('woff2'),
        url('../webfonts/LexendDeca-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../webfonts/LexendDeca-Regular.woff2') format('woff2'),
        url('../webfonts/LexendDeca-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../webfonts/LexendDeca-Thin.woff2') format('woff2'),
        url('../webfonts/LexendDeca-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../webfonts/LexendDeca-ExtraLight.woff2') format('woff2'),
        url('../webfonts/LexendDeca-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../webfonts/LexendDeca-SemiBold.woff2') format('woff2'),
        url('../webfonts/LexendDeca-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../webfonts/LexendDeca-Regular.woff2') format('woff2'),
        url('../webfonts/LexendDeca-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

