.city {
  overflow: hidden;
  padding-top: 155px;
}

.city__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media() {
    flex-direction: column;
    gap: 56px;
  }
}

.city__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;

  @include media() {
    justify-content: center;
    align-items: center;
  }
}

.city__content h2 {
  max-width: 445px;
  font-size: 48px;
  color: $text_dark;
  letter-spacing: -2.14px;
  line-height: 52px;

  @include media() {
    text-align: center;
  }
  @include mobile() {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.43px;
  }
}

.city__content p {
  max-width: 445px;
  font-family: "Lexend Deca";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: $text_color;
  padding-bottom: 14px;

  @include media() {
    text-align: center;
  }
}

.city__radio {
  position: relative;
  display: flex;
}

.city__radio::before {
  content: "";
  position: absolute;
  top: 0;
  left: -480px;
  width: 740px;
  height: 150px;
  display: block;
  background-image: url(../images/strelka_chap_2.svg);
  background-repeat: no-repeat;
  background-position: center;

  @include mobile() {
    left: -480px;
  }
}

.city__bg {
  position: relative;
  width: 445px;
  height: 445px;
  border-radius: 50%;
  background-image: url(../images/card__img_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;

  @include mobile() {
    width: 311px;
    height: 311px;
  }
}

.city__bg::after {
  content: "";
  position: absolute;
  left: -509px;
  display: block;
  width: 445px;
  height: 445px;
  border-radius: 50%;
  background: #e5ecf4;
}
